<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wrssalzna@tznvy.pbz</string>
	<key>contactName</key>
	<string>Jeff Nyman</string>
	<key>description</key>
	<string>Text Adventure Development System, for creating interactive fiction (IF) games.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>3A96C337-5E26-436C-954E-D27449E79560</string>
			<string>F5C8E219-4ED4-4C87-A74E-0226EC69AA1F</string>
		</array>
	</dict>
	<key>name</key>
	<string>Tads 3</string>
	<key>uuid</key>
	<string>7298A864-0E56-48F7-B281-EC3CB338EA4D</string>
</dict>
</plist>
